.Medicine-Details {
    text-align: center;
    font-size: 70px;

}
/* .Med-image {
    width: 100%;
    height: 300px;
    border-radius: 25px;
} */
.Med-Details-container {
    width: 100vh;
    height: 100vh;
}

.Med-Details-container h3 {
    font-size: 50px;
}
.Details {
    font-size: 22px;
}
.Price {
    font-size: 20px;
}
.Price span {
    font-size: 20px;
    font-weight: bold;
}

button {
    padding: 5px;
    border-style: none;
    font-size: 3px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
button .Buy{
    font-size: 20px;
}